<section class='successContainer'>

  <div class='card'>
    <div
      style='border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;'
    >
      <i class='checkmark'>✓</i>
    </div>
    <h1>Success</h1>
    <p>Your Password was reset successfully<br />you can login to your account
    </p>
  </div>
</section>