<div id='navbar'>
  <a class='logo' href=''>
    <div>Shop <div class='dotcom'> More</div></div>
  </a>
  <ul class='menuItems'>

  </ul>

  <ul class='mobileIcon'>
    <div class='mobileIcon'>

      <i class='fa-solid fa-bars'></i>

    </div>

  </ul>

</div>