<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Shope More</title>
    <link rel="stylesheet" href="../../styles/auth.css">
  </head>
  <body>
    {{!-- navigation bar start --}} 
    <nav>
    {{>_navbar}}
    </nav>
    {{!-- navigation bar end --}}
    {{!-- body of the page start --}}
    <section id="outerBox">
        {{{body}}}
    </section>
    {{!-- body of the page END --}}

  </body>
  <script src="../../script/script.js"></script>
</html>