<section class="page_404">
	<div class="container_404">
			<div class="four_zero_four_bg">


		{{#if error}}
	<h1 class="text-center ">{{error}}</h1>
		{{/if}}
		{{#if wrongLink}}

			<h1 class="text-center ">Page not Found</h1>
{{/if}}
		</div>
		
			<h2 class="h2">
		Look like you're lost
		</h2>
		
		<p>the page you are looking for not available!(404 Error)</p>

	
		</div>
		</div>
	</div>
</section>